@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

th:first-of-type {
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
}
th:last-of-type {
  border-top-right-radius: 10px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 10px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 10px;
}

.fullscreen-hidden {
}
.fullscreen-hidden:fullscreen {
  background-color: #f0f !important;
  display: none !important;
}

.fullscreen-hidden:-webkit-full-screen {
  background-color: #f0f !important;
  display: none !important;
}

.fullscreen-hidden:-moz-full-screen {
  background-color: #f0f !important;
  display: none !important;
}
